.personal-details {
    padding-right: 0;

}

input[type='text'], input[type='email'] {
    margin: 0;
    font-size: 1em; 
    padding: 2px 4px; 
} 

.custom-control:disabled {
    background-color: white;
    border: 1px solid transparent;
}

.btn {
    font-size: 0.9em;
    border: 1px solid silver;
    background-color: whitesmoke;
}

.btn:hover {
    background-color: rgb(220, 220, 220);
}

.btn-edit {
    min-width: 50px;
    padding: 2px;
    border-radius: 6px;
    background-color: whitesmoke;
}

.dropdown-menu, .dropdown-item {
    font-size: 0.9em;
    padding: 2px 4px;
}

.dropdown-menu {
    min-width: 120px !important;
}

.dropdown-menu a:active{   
    color: initial;
    background-color: rgb(230, 230, 230); 
}

.dropdown-menu li:hover {
    cursor: pointer;
}

.form-invalid {
    color: rgb(235, 0, 0);
}

.profile-img {
    display: block;
    overflow: hidden;
    width: 100px;
    height: 100px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 6px;
}

.btn-group {
    position: relative;
    top: -20px;
    left: -55px;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}



