<div class="container">
  <div class="row justify-content-center">
      <div class="d-flex flex-column col-md-9 col-xxl-7 px-md-4 mt-5 mt-md-5">
          <div class="col-md-6 mb-4 mb-md-0">
              <h1>Welcome to Kweez!</h1>
          </div>
          <div class="col-md-6">
              <div class="features">
                  <p>Features:</p>
                  <ul>
                      <li>Regular and timed quizzes</li>
                      <li>Full administration</li>
                      <li>OpenAI API integration: ask for hints or generate new questions</li>
                      <hr>
                  </ul>
              </div>
              <div class="test">
                  <p>Test accounts:</p>
                  <ul>
                      <li>username: <span>admin</span> password: <span>123</span></li>
                      <li>username: <span>user</span> password: <span>123</span></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
