<div class="container-fluid">
    <div class="row mt-5 justify-content-center">
        <div class="col-md-3 col-xs-12 text-md-end text-start">
            <p class="pe-5">Register a new account:</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <form [formGroup]="registerForm" (submit)="onRegister()">
                <fieldset class="form-group">
                    <label for="username">Username: </label><br>
                    <input class="custom-control rounded" type="text" id="username" formControlName="username"><br>
                    <ul *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.dirty">
                        <li class="form-invalid" *ngFor="let msg of getErrorMessages(registerForm.get('username')!)">{{msg}}</li>
                    </ul>
                </fieldset>
                <fieldset class="form-group mt-2">
                    <label for="password">Password: </label><br>
                    <input class="custom-control rounded" type="password" id="password" formControlName="password"><br>
                    <ul *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty">
                        <li class="form-invalid" *ngFor="let msg of getErrorMessages(registerForm.get('password')!, ['at least one number', 'at least one special character'])">{{msg}}</li>
                    </ul>
                </fieldset>
                <fieldset class="form-group mt-2">
                    <label for="repeatedPassword">Repeat password: </label><br>
                    <input class="custom-control rounded" type="password" id="repeatedPassword" formControlName="repeatedPassword">
                    <ul *ngIf="registerForm.get('repeatedPassword')?.invalid && registerForm.get('repeatedPassword')?.dirty">
                        <li class="form-invalid" *ngFor="let msg of getErrorMessages(registerForm.get('repeatedPassword')!, ['at least one number', 'at least one special character'])">{{msg}}</li>
                    </ul>
                </fieldset>
                <fieldset class="form-group mt-2">
                    <label for="email">E-mail: </label><br>
                    <input class="custom-control rounded" type="email" id="email" formControlName="email">
                    <ul *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty">
                        <li class="form-invalid" *ngFor="let msg of getErrorMessages(registerForm.get('email')!)">{{msg}}</li>
                    </ul>
                </fieldset>
                <button class="btn btn-sm btn-login mt-2" type="submit" [disabled]="!registerForm.valid">Register</button>
                <div class="form-message my-2" *ngIf="message">{{message}}</div>
            </form>
        </div>
    </div>
    <div class="row mt-5 justify-content-center p-0">
        <div class="col-md-3 col-xs-12 text-md-end text-start">
            <p class="pe-5">Already registered? Sign in</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <button class="btn btn-sm btn-register" type="button" [routerLink]="['../login']">Sign in</button>
        </div>
    </div>
</div>
